<!DOCTYPE html>

<html>
    <head>
        <title>Application Data</title>
        <link href="./static/css/index.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <h1>This is Sample Data</h1>
        <div>Welcome to my Application</div><br/><br/>

        <form action="/postform" method="POST">
            Name: <input type="text" name="userName" /><br/><br/>
            Age: <input type="text" name="userAge" /><br/><br/>
            Id: <input type="text" name="userId" /><br/><br/>
            <input type="submit" value="Submit" />
        </form>

        <script src="./static/scripts/index.js"></script>
    </body>
</html>